.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-table-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-note {
  font-weight: bold;
  margin-top: 15px;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

h1 {
  margin: 10px 0;
}